body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}


header {
    background-color: #FD6867;
    width: 100%;
    height: 130px;
}

.container {
    display: flex;
    padding: 0;
    
}

.container1 {
    width: 100%;
    height: 840px;
    padding-top:20px;
    background-image: url(/img/back.png);
}

.container2 {
    width: 100%;
    height: 1080;
    background-image: url(/img/back.png);
}

.container3 {
    width: 100%;
    height: 1080;
    background-image: url(/img/back.png);
}

.nav-items{
    display: flex;
}

.nav-item {
    padding-top: 60;
    padding-left: 120;
    padding-right: 120;
    color: white;
    font-weight: bold;
}

.img-logo {
    padding-top: 40;
    padding-left: 200;
}

.img-buy {
    margin-top: 45px;
}

a {
    text-decoration: none;
    color: white;
}

.bg {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #FD6867;
    width: 1322px;
    height: 497px;
}

.text_main{
    width: 442px;
    height: 411px;
    margin: 43px 73px 43px 60px;
}

.text_main_in {
    padding:20px;
    font-size: 36px;
    text-align: center;
    color:white;
    background-color: #FB4443;
}

.button_main {
    
    margin-top:50px;
    background-color: #FB4443;
    width: 442px;
    height: 67px;
    max-width: 442px;
    max-height: 67px;
}

.link_main {
    font-size: 36px;
    padding-left: 78px;
    color: white;
}

.main_img {
    margin-top: 43px;
    width: 688px;
    height: 411px;
}

.h {
    font-size: 48px;
    color:white;
    background-color: #FD6867;
    padding-left: 291;
    font-weight: 100;
}

.h1 {
    font-size: 48px;
    color:white;
    background-color: #FD6867;
    padding-left: 471;
    font-weight: 100;
    padding-top: 70px;
}

.ots {
    width: 1322px;
    height: 903px;
    max-height: 903;
    background-color: #FD6867;
    margin-left:300px;
    align-items: center;
    margin-bottom: 20px;
}

.text-ots {
    font-size: 36px;
    color:white;
    margin-left: 122;
}

input, textarea {
    margin-left: 110px;
    width: 1082px;
    height: 44px;
    font-size: 32px;
}

textarea {
    resize: none;
    height: 393px;
}

button {
    margin-left: 393;
    width:536px;
    height:57px;
}

footer {
    width: 100%;
    height: 130px;
    max-height: 130px;
    background-color: #FD6867;
}

.text-footer {
    font-size: 36px;
    color:white;
    padding: 60px;
    padding-bottom:0;
}
.containerimg {
    
    width: 20px;
    height: 20px;
} 

.buttonpr {
    width: 130px;
    height: 64px;
    margin-top: 162px;
    margin-right: 892px;
    margin-left: 892px;
}

.buttonpr-2 {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 20px;
    bottom: 20px;
}

.whys {
    display:flex;
    padding-left: 299px;
    padding-right: 299px;
    padding-top: 74px;
    justify-content: space-between;
}

.p-items-1 {
    display: flex;
    width: 811px;
    justify-content: flex-start;
}

.p-item-1 {
    width: 300px;
    height: 650px;
    background-color: #FB4443;
}

.p-item-2 { 
    width: 300px;
    height: 300px;
    background-color: #FB4443;
}

.p-item-1:nth-child(1){
    margin-right: 211px;
}

.p-item-2:nth-child(2){
    margin-top: 50px;
}

.text-p {
    height: 50px;
    width: 300px;
    color:white;
    font-size: 32px;
    text-align: center;
    background-color: #FB4443;
    vertical-align:middle;
}

.img-p-1 {
    height: 600px;
    width: 300px;
}

.img-p-2 {
    height: 250px;
    width: 300px;
}

.imgandtext {
    position: relative;
    height: 250px;
    background-color: #FB4443;
}

.perecr-img {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: white;
    position: absolute;
    width: 82px;
    height: 26px;
    background-color: #FB4443;
    top: 0%;
    right: 0%;
}

.perecr-img-2 {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: white;
    position: absolute;
    width: 163px;
    height: 40px;
    background-color: #FB4443;
    top: 0%;
    right: 0%;
}

