/*1*/
img {
    border-radius: 10px;
}

.line {
    background-color: #FD6867;
    margin-top: 50px;
}

.text-main {
    color: white;
    font-size: 48px;
    padding-left: 200px;
}

.container-about-main {
    height: fit-content;
}

.about-items {
    margin-top: 82px;
    margin-bottom: 40px;
    display: grid;
    grid-template-areas: "kat dost st"
                         "kat dost ac";
    justify-content: center;
    column-gap: 211px;
}

.about-item {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}

.about-item:nth-child(1) {
    grid-area: kat;
    height: 650px;
}
.about-item:nth-child(2) {
    grid-area: dost;
    height: 650px;
}

.about-item:nth-child(3) {
    grid-area: st;
}
.about-item:nth-child(4) {
    grid-area: ac;
    align-self: self-end;
}

.imgB-about {
    height: 595px;
    border: 10px solid #FD6867;
    border-radius: 20px;
}

.imgS-about {
    height: 247px;
    border: 10px solid #FD6867;
    border-radius: 20px;
}

.text-about {
    color: white;
    font-size: 32px;
    text-align: center;
    background-color: #FD6867;
    width: 300px;
    border-radius: 20px;
    height: 55px;
}

/*2*/

.container-about-contacts {
    display: flex;
    background-color: #FD6867;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-contacts {
    display: flex;
    flex-direction: column;
    color:white;
    font-size: 24px;
}

.h {
    font-size: 36px;
}

.map-contacts {
    display: flex;
    margin-left: 56px;
}

/*3*/
.container-otz {
    height: fit-content;
}

.otz {
    padding-top:30px;
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: #FD6867;
    border-radius: 20px;
    height: 664px;
}

.otz-form {
    display: flex;
    position: relative;
    margin-top: 55px;
}

.user-name-1 {
    position: absolute;
    color: white;
    font-size: 24px;
    top:-40px;
    left: 175px;
}

.area-text-otz {
    width: 1008px;
    height: 68px;
    resize: none;
    border: none;
    font-size: 20px;
    color:#FD6867;
    padding: 0px;
    margin: 0px;
}

.area-text-otz:focus {
    border: none;
}

.user-otz {
    display: flex;
}

.avatar {
    margin-left: 80px;
    margin-right: 25px;
}

.avatar-sub {
    margin-left: 40px;
    margin-right: 25px;
}

.button-submit {
    width: 68px;
    height: 68px;
    border-radius: 0;
    border: none;
    background-color: #FB4443;
}

.user-name {
    color: white;
    font-size: 24px;
    top:-40px;
    left: 175px;
}

.user-time {
    color:white;
    font-size: 14px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.otz-text {
    color:white;
    font-size: 24px;
}