.container-main {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

/*BODY*/

.line {
    background-color: #FD6867;
    margin-top: 50px;
}

.text-main {
    color: white;
    font-size: 48px;
    padding-left: 200px;
}

h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    color: white;
    text-align: right;
    padding-top: 75px;
    padding-right: 16px;
}

p {
    font-size: 32px;
    margin: 0;
    padding: 0;
    color: white;
    text-align: right; 
    padding-top: 38px;
    padding-right: 16px;
}

.img-main {
    display: flex;
    margin-top: 56px;
    align-self: center;
    justify-content: end;
    height: 362px;
    width: 1322px;
    background-color:#FD6867;
    border-radius: 20px;
}

.button {
    display: flex;
    width: 1322px;
    background-color: #fd6767cb;
    border: #FD6867 solid 0px;
    border-radius: 20px;
    color: white;
    font-size: 36px;
    cursor: pointer;
    margin-bottom: 128px;
    margin-top: 56px;
    align-self: center;
}

.nav-item-index {
    width: 1322px;
}